<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h2 class="footer-title">Electro</h2>
                        <p>Đây là sản phẩm của đồ án cuối kì môn PHÁT TRIỂN ỨNG DỤNG WEB.
                            Sản phẩm được xây dựng cho mục đích học tập và nghiên cứu.</p>
                        <ul class="footer-links">
                            <li><i class="fa fa-map-marker"></i>Trường Đại học Khoa học Tự nhiên</li>
                            <li><i class="fa fa-phone"></i>Hotline: 0978182625</li>
                            <li><i class="fa fa-envelope-o"></i>teamHCMUS@gmail.com</li>
                            <li><i>Giờ mở cửa </i>
                                <br /><b>7:30 - 21:30</b> Thứ Hai đến Thứ Bảy
                                <br /><b>8:00 - 22:30</b> Chủ nhật
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">CỬA HÀNG</h3>
                        <ul class="footer-links">
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="/store">Tất cả sản phẩm</a></li>
                            <li><a href="/cart">Giỏ hàng</a></li>
                            <li><a href="/users/order-management">Đơn hàng</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-xs-6">
                    <div class="footer">
                            <h3 class='footer-title'>CHI NHÁNH</h3>
                            <div class='footer-address-item'>Hà Nội</div>
                            <div class='footer-address-item'>Đà Nẵng</div>
                            <div class='footer-address-item'>Hồ Chí Minh</div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="footer">
                        <div class='footer-subcribe'>
                            <b class='footer-mail-title'>NHẬN BẢN TIN <b class='footer-mail-title-add'>CỦA CHÚNG TÔI</b></b>
                            <div class='footer-mail-content'>
                                <p>Đừng bỏ lỡ hàng ngàn sản phẩm và
                                chương trình khuyến mãi siêu hấp dẫn</p>
                                <div class='custome-register-mail-input'>
                                    <input type='text' autoComplete='email' placeholder='Email' />
                                    <button>Đăng ký</button>
                                </div>
                                <div class='footer-social-contain'>
                                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                                    <i class="fa fa-google fa-2x" aria-hidden="true"></i>
                                    <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /top footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>